<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtJ4j5u8SMQovzvG9bH-5SAq3RBbujp68</string>
	<key>GCM_SENDER_ID</key>
	<string>36498065610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.futurebuild.streakforge</string>
	<key>PROJECT_ID</key>
	<string>streak-forge-567485</string>
	<key>STORAGE_BUCKET</key>
	<string>streak-forge-567485.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:36498065610:ios:b5ba907b91d79257facc33</string>
</dict>
</plist>